.button {
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: red;
  }
  .navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  .navbar-icon {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }
  
  .navbar-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-list li {
    margin: 0 10px;
    display: inline-block;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .navbar:hover .bar {
    transform: rotate(90deg);
  }
  
  .navbar:hover .navbar-list {
    display: block;
  }
  
  .navbar:hover .navbar-list li {
    opacity: 1;
    transition-delay: 0.2s;
  }
  .loading-bar {
    width: 200px;
    height: 5px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
  }
  
  .content.hidden {
    opacity: 1;
    visibility: visible;
    animation: revealContent 5s ease forwards;
  }
  
  @keyframes revealContent {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }